{% load static %}

<html>
<head>
<meta charset="UTF-8">
<title>장고프레임워크(Django)</title>
<link href="{% static 'css/top.css' %}"
      rel="stylesheet"  type="text/css" />

</head>
<body>
<header>
  YOLOv8 기반 안전모 탐지 시스템 구현

</header>
<nav>

<!--&emsp;&emsp;<a href="{% url 'burger_list' %}"> 1.버거목록보기</a>-->
<!--&emsp;&emsp;<a href="{% url 'burger_search' %}">2.버거검색하기</a>-->
<!--&emsp;&emsp;&emsp;&emsp;<a href="{% url 'board_list' %}"> 4.게시판목록</a>-->
<!--&emsp;&emsp;<a href="{% url 'board_form' %}"> 5.글쓰기</a>-->
<!--&emsp;&emsp;[<a href="{% url 'request_json_sql' %}"> 1. restful(J)</a>-->
<!--  ]-->
<!--&emsp;&emsp;[<a href="{% url 'gemini_txt' %}"> 1. gemini_txt</a>]-->

<!--  <a href="{% url 'novel_txt' %}"> 2. novel_txt</a>-->
<!--&emsp;&emsp;[<a href="{% url 'gemini_img' %}"> 2. gemini_img-->
<!--&emsp;&emsp;[<a href="{% url 'alibaba_api' %}"> 4. alibaba_api</a>-->
<!--</a>-->
<!--  ][<a href="{% url 'chatgpt_api' %}"> 3. chatgpt_api</a>-->
<!--</a>-->
<!--  ]-->
<!--  ][<a href="{% url 'chatgpt_api_img' %}"> 4. chatgpt_api_img</a>-->
<!--</a>-->
<!--  ]-->
  [<a href="{% url 'yolo_helmet' %}"> 1. yolo_helmet</a>
</a>
  ]
<!--  [<a href="{% url 'chatgpt_form' %}"> 6. chatgpt</a>-->
<!--</a>-->
<!--  ]-->
&emsp;&emsp;<a href="/">홈으로</a>
</nav>
<section>
<br />